* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", san-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
/* khôi phục cỡ chữ mặc định theo rem*/
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/*=======================common=======================  */
a {
  text-decoration: none;
}

.heading-lv2 {
  font-family: Sen;
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 1.27;
  letter-spacing: -2%;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0 px 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.6rem;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  width: 144;
  height: 50;
  top: 36px;
  left: 1161px;
  border-radius: 999px;
  opacity: 1;
  background-color: #171100;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/*=======================header=======================  */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1000;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  font-style: Regular;
  font-size: 1.6rem;
  letter-spacing: 0%;
  /* text-align: center; */
  color: #5f5b53;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  opacity: 1;
  border-radius: 1px;
  background-color: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}

/*=======================hero=======================  */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}
/*=======================hero left=======================  */

.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-sumary {
  position: absolute;
  bottom: 48px;
  right: 0px;
  width: 270px;
  height: 244px;
  opacity: 1;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 16px 32px 0px #0000000d;
  padding: 24px;
}

.hero-sumary .item {
  display: flex;
  align-items: center;
}
.hero-sumary .item + .item {
  margin-top: 22px;
}
.hero-sumary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sumary .icon1 {
  background: #fff9e8;
}
.hero-sumary .icon2 {
  background: #fcefff;
}
.hero-sumary .icon3 {
  background: #ebeaff;
}
.hero-sumary .info {
  margin-left: 16px;
}
.hero-sumary .label {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.4rem;
  line-height: 1.86;
  letter-spacing: 0%;
  color: #5f5b53;
}
.hero-sumary .title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.8rem;
  line-height: 1.67;
  letter-spacing: 0%;
}

/*=======================hero right=======================  */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: Bold;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
  margin-top: 22px;
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  width: 40px;
  height: 40px;
  box-shadow: 0px 8px 16px 0px #00000012;
  border-radius: 40px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.hero .watch-video span {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.8rem;
  line-height: 1.67;
  letter-spacing: 0%;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: Regular;
  font-size: 4.4rem;
  line-height: 30px;
  letter-spacing: 0%;
  color: #171100;
  margin-right: 15px;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/*=======================popular =======================  */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  opacity: 1;
  top: 1279px;
  left: 135px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

.popular .course-item {
  border: 1px solid #e2dfda;
  background: #fff;
  border-radius: 12px;
}

.popular .course-item:hover {
  border: 1px solid transparent;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.popular .rating .value {
  font-size: 16px;
  line-height: 1.75;
  margin-left: 6px;
  color: #fea31b;
}

.popular .course-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background-color: var(--primary-color);
}

/*=======================feedback=======================  */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  opacity: 1;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: Bold;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}

.feedback-item .info .desc {
  margin-top: 4px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .dots {
  gap: 6px;
  margin-top: 28px;
  display: flex;
}

.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  font-style: Italic;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #fff;
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/*=======================feature 1=======================  */

.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 30px;
}

.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  flex-shrink: 0;
  background: var(--primary-color);
}
/*=======================feature 2=======================  */
.features-2nd {
  margin-top: 70px;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
}

/*=======================Blogs=======================  */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  margin: 16px auto 0;
  width: 448px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
}

.blogs .blog-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;

  overflow: hidden;
}

.blogs .item {
  width: calc(33.33% - 20px);
  background: #ffffff;
  border-radius: 16px;
  flex-shrink: 0;
}

.blogs .item:hover{
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.blogs .item .info {
  padding: 20px 20px 28px;
}

.blogs .item .date{
  display: inline-flex;
  padding-bottom: 12px;
  position: relative;
  align-items: center;
font-size: 1.4rem;
line-height: 1.86;
color: #5F5B53;
}

.blogs .item .date::before{
  content: "";
  margin-right: 4px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
}

.blogs .item .date::after{
  position: absolute;
  content: "";
  display: inline-block;
height: 1px;
border-radius: 0.5px;
background: #e2dfda;
left: 0;
bottom: 0;
right: -27px;
}

.blogs .item .title{
  margin-top: 12px;
font-size: 1.6rem;
line-height: 1.75;
font-weight: 600;
color: #171100;
}

.blogs .item .btn{
  margin-top: 12px;
  font-size: 1.4rem;
}

.blogs .item .btn:hover{
  background: var(--primary-color);
}

.blogs .dots{
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}

.blogs .dot{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background:#5F5B53;
  cursor: pointer;
}

.blogs .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/*=======================Footer=======================  */
footer{
  background: #2E2100;
  padding: 96px 135px 0;
}

.footer .row{
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #595959;
}


.footer .row .column{
  width: 21.6%;
}

.footer .row .column:first-child{
  width: 35%;
}

.footer .desc{
  margin-top: 18px;
  max-width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .socials{
  display: flex;
  gap: 18px;
  margin-top: 18px;

}

.footer .title{
  padding-bottom: 14px;
  padding-right: 18px;
  display: inline-block;
  border-bottom: 1px solid #595959;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer .list{
  margin-top: 28px;
}

.footer .list a{
  display: inline-block;
  margin-bottom: 12px;
font-size: 1.4rem;
line-height: 1.86;
color: #bfbcb2;
}

.footer .list li:last-child a{
  margin-bottom: 0;
}

.footer .list strong{
font-weight: 600;
font-size: 1.4rem;
line-height: 1.86;
color: #fff;
}

.footer .copyright{
  padding: 28px 0;
font-size: 1.4rem;
line-height: 1.86;
text-align: center;
color: #807d74;
}